* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #010003;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pantalla inicial */
#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1a1917 0%, #0e0d0d 100%);
    z-index: 10;
    transition: opacity 1s ease;
}

#heart-btn {
    text-align: center;
    cursor: pointer;
}

.heart-pulse {
    font-size: 80px;
    animation: pulse 1.2s infinite ease-in-out;
    filter: drop-shadow(0 0 15px #664757);
}

#heart-btn p {
    color: #ffffff;
    margin-top: 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.8;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* Título */
#header-title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 5;
    pointer-events: none;
}

#header-title h1 {
    color: #6e6983;
    font-size: 2.2rem;
    font-weight: 300;
    text-shadow: 0 0 10px #e50707, 0 0 20px #e12108;
}

/* Canvas Three.js */
#canvas-container {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
    opacity: 0;
}
/* Estilos para alinear y ajustar la imagen junto al texto del título */
#header-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px; /* Espacio entre el texto y la imagen */
}

.title-img {
    width: 45px; /* Ajusta el ancho según lo necesites */
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #ef0792); /* Efecto Neón/Brillo */
}